// color
$color-brand: #26a69a;
$color-brand--light: #5cbcb3;
$color-brand--lighter: #B2DFDB;
$color-brand--dark: #009688;

// func-color
$c-error: #f5222d;
$c-ok: #52c41a;
$c-warning: #faad14;
$c-info: $color-brand;

// font color
$f-c-base: #263238;
$f-c-secondary: #455A64;
$f-c-placeholder: #999;

$border-c: #999;

// font-family
$f-cn-family: PingFangSC-Regular;

// font-size
$f-s-giant: 60px;
$f-s-header: 36px;
$f-s-base: 24px;
$f-s-xs: 18px;

// line-height
$f-lh-giant: 84px;
$f-lh-header: 50px;
$f-lh-base: 33px;
$f-lh-xs: 25px;

// border
$border-radius-big: 88px;
$border-radius-normal: 44px;

// spacing vertical
$spacing-v-sm: 16px;
$spacing-v-md: 20px;
$spacing-v-lg: 30px;
$spacing-v-xl: 40px;

// spacing horizontal
$spacing-h-sm: 40px;
$spacing-h-md: 50px;
$spacing-h-lg: 60px;
